body {
	background-color: #FFFFFF;
	display: block;
	height: 100%;
}

#body {
	margin: 0 auto;
	width: 1150px;
	background-color: #D8D8D8;
	border-style: groove;
	border-color: cadetblue;
}

#news {
	color: #FFFFFF;
	width: 100%;
	height: 180px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-flex;
}

.news {
	background-color: #317385;
	width: 30%;
	height: 100%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	background: -webkit-linear-gradient(#2F5F8F, #317385);
}

#footer {
	text-align: center;
	height: 85px;
	margin-top: 20px;
	/* margin-bottom: 20px; */
}

#maincontent {
	margin: 20px;
}

#container {
	width: 100%;
	display: inline-flex;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 256px;
}

#search {
	width: 100%;
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 40px;
}

#searchFields {
	width: 70%;
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
}

#searchButton {
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	width: 444px;
	height: 256px;
	margin-left: auto;
	margin-right: auto;
	margin-left: 40px;
	padding-top: 20px;
}

#description {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 2em;
	font-family: georgia;
	font-style: italic;
	color: white;
	background-color: #AEABAB;
	border-radius: 40px;
	padding: 0px 24px;
	height: 256px;
}

#textoBusqueda {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#tipoBusqueda {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

#toplinks {
	height: 41px;
	padding: 9px;
	background: -webkit-linear-gradient(#2F5F8F, #54AAFF);
	/* background-color: #0972a5; */
	/* border-style: groove; */
	/* border-color: cadetblue; */
}

.groupFields {
	margin: 20px auto;
	width: 250px;
	/* text-align: center; */
	background-color: darkgrey;
	color: white;
	font-family: georgia;
	font-style: bold;
	padding: 16px;
}

.groupFields#register {
	width: 208px;
}

#toplinks a {
	display: block;
	color: #FFFFFF;
	width: 116px;
	height: 40px;
	font-family: lucida;
	font-weight: bold;
	font-style: bold;
	text-align: center;
	line-height: 2.5em;
	margin: auto 2px;
}

#toplinks a:hover {
	background-color: #DBA901;
}

.menuLink {
	float: left;
	background-color: #585858;
	border-radius: 30px;
}

#inicio {
	float: left;
}

#myAds {
	/* background-color: #0972a5; */
	height: 140px;
	margin: 20px;
	background: -webkit-linear-gradient(#2F5F8F, #54AAFF);
}

a {
	text-decoration: none;
}

#topmenu {
	display: -webkit-inline-box;
	margin: 20px;
	background-color: #585858;
}

#topmenu a {
	display: block;
	color: #FFFFFF;
	width: 186px;
	height: 50px;
	text-align: center;
	line-height: 3em;
}

#topmenu a:hover {
	background-color: #DBA901;
}

.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	-moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	box-shadow: 0 0 0.25em #b2d1ff;
}

div#logoHeader {
	width: 116;
	height: 45px;
	float: left;
	margin-right: 26px;
}

a#logout {
	float: right;
}

a#login {
	float: right;
}

a#register {
	float: right;
}

a#profile {
	float: right;
}

img#okImage {
	width: 20px;
	height: 20px;
}

header.header {
	font-family: georgia;
	font-style: bold;
	color: #FFFFFF;
	font-size: xx-large;
	display: inline-block;
	background-color: #585858;
	/* width: 229px; */
	padding: 5px;
	border-radius: 20px;
	margin-left: 75px;
	margin-bottom: 10px;
	text-align: center;
}

fieldset.form {
	background-color: #5096BA;
	background: -webkit-linear-gradient(#2F5F8F, #54AAD7);
}

header#register {
	margin-left: 22px;
}

#usernameLabel {
	height: 50px;
	/* background-color: #585858; */
	display: block;
	color: #FFFFFF;
	/* width: 186px; */
	text-align: center;
	line-height: 2em;
	font-family: lucida;
	font-size: larger;
	float: right;
	margin: auto 5px;
}

div#footer {
	font-family: century gothic;
	color: black;
	font-size: initial;
	font-style: oblique;
	font-weight: 700;
	padding-top: 11px;
	border-top: solid;
	border-top-width: thin;
	border-top-style: dashed;
}

.groupFields#crearResena {
	width: 641px;
}

header#crearResena {
	margin-left: 228px;
}

div.resenaVer {
	background-color: #5096A2;
	color: lavender;
	font-family: georgia;
	font-size: larger;
	margin: 20px 20px;
	padding: 4px;
}

header#verResena {
	margin-left: 468;
	margin-top: 25;
	margin-bottom: 25;
}

.description li {
	list-style: none;
}

img#logoImage {
	width: 100%;
	height: 219px;
}

/*perfil*/
header#verPerfil {
	margin-left: inherit;
}

#perfilContainer {
	width: 50%;
	height: 390px;
	background-color: darkgray;
	margin-left: 300px;
	border-radius: 10%;
}

#datosContainer {
	padding-top: 15%;
	padding-left: 60px;
	text-align: justify;
}

#datosContainer label {
	margin-right: 10px;
}

#imagenPerfil {
	margin: 10px;
	height: 150px;
	width: 150px;
	border-radius: 100%;
}

#imagenContainer {
	padding: 1px;
	border-radius: 100%;
	text-align: center;
	float: right;
	margin-top: 10%;
}

#formularioImagen {
	text-align: center;
}

#modificarDatosContainer {
	padding-top: 30px;
	padding-left: 30px;
	text-align: justify;
}

#modificarDatosContainer label {
	margin-right: 10px;
}

#progreso {
	margin-left: 4%;
	width: 200px;
	height: 30px;
}

/*busqueda*/
#busquedaContainer {
	width: 50%;
	height: 390px;
	background-color: darkgrey;
	margin-left: 300px;
}

#paging {
	background-color: #FFFFFF;
}

.resultadosContainer {
	width: 90%;
	height: 80%;
	margin-top: 4%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 3.5%;
	background-color: #FFFFFF;
	line-height: 1.5em;
	font-family: lucida;
	font-size: larger;
}

.avisoContainer {
	margin-top: 10%;
	background-color: #FFFFFF;
}

.name {
	margin-left: 5px;
}

.caracteristica {
	font-size: small;
	width: 80%;
	margin-left: 10%;
}

/* MESSAGES AND ERRORS */
.errors,.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	-moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	-moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50%
		no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/information.png) 0.5em 50%
		no-repeat;
	background-color: aliceblue;
	text-indent: 2.2em;
}

div#resenasResaltadas {
	display: inline-flex;
	width: 100%;
}

div.resenaVer2 {
	color: lavender;
	font-family: georgia;
	font-size: larger;
}

div#mejorResena {
	padding: 10;
}

div#peorResena {
	padding: 10;
}

div#tabs-2 {
	width: 600;
}

div#tabsB-2 {
	width: 600;
}

div#containerDatos {
	/* background-color: #0972a5; */
	height: 140px;
	/* margin: 20px; */
	/* background: -webkit-linear-gradient(#2F5F8F, #54AAFF); */
	color: lavender;
	font-family: georgia;
	font-size: larger;
	display: inline-flex;
	width: 100%;
}

div#datosProducto1 {
	padding: 30;
	width: 100%;
}

div#datosProducto2 {
	padding: 30;
	width: 100%;
}

div#containerTop {
	background: -webkit-linear-gradient(#2F5F8F, #54AAFF);
}

div#containerDatos2 {
	color: lavender;
	font-family: georgia;
	font-size: larger;
	align-content: center;
	text-align: center;
}

header#mejorResena {
	margin-left: 162;
	margin-top: 20;
}

header#peorResena {
	margin-left: 173;
	margin-top: 20;
}

header#totalResenas {
	margin-left: 418;
	margin-top: 30;
}

header#verServicios {
	margin-left: 442;
	margin-top: 25;
	margin-bottom: 25;
}

header#productosServicio {
	margin-left: 318;
	margin-top: 25;
	margin-bottom: 25;
}

a.linkInside {
	text-decoration: underline;
}